@model IEnumerable<ShoppingStationery.Models.ChiTietDeNghiM>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string searchTerm = TempData["SearchTerm"] as string;
}

<div class="mx-2 my-2">
    <h1 class="text-center mt-2">Chi tiết phiếu đề nghị mua sắm</h1>

    <div class="d-flex justify-content-between">
        <form asp-action="TimKiemCTPhieuDNMS" method="post" class="app-search-form">
            <input type="hidden" name="idMaDnms" value="@TempData["idMaDnms"]" />
            <input type="text" placeholder="Tìm kiếm..." name="searchTerm" class="form-control search-input" value="@searchTerm"/>
            <button type="submit" class="btn search-btn btn-primary" value="Search"><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>
        <div>
            <a asp-action="Index" asp-controller="PhieuDeNghiMS" class="btn btn-secondary">Trở về danh sách</a>
            <a asp-action="Create" asp-route-idMaDnms="@TempData["idMaDnms"]" class="btn btn-primary text-white">Thêm mới</a>
        </div>
    </div>

    @if (Model.Any())
    {
        <div class="table-responsive">
            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th scope="col" class="text-center">Mã DNMS</th>
                        <th scope="col" class="text-center">Văn phòng phẩm</th>
                        <th scope="col" class="text-center">Đơn vị tính</th>
                        <th scope="col" class="text-center">Số lượng</th>
                        <th scope="col" class="text-center">Lý do mua sắm</th>
                        <th scope="col" class="text-center"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td align="center" class="text-center">@item.MaDnms</td>
                            <td align="center" class="text-center">@item.MaVppNavigation.TenVpp</td>
                            <td align="center" class="text-center">@item.Dvt</td>
                            <td align="center" class="text-center">@item.SoLuong</td>
                            <td align="center" class="text-center">@item.Lydo</td>
                            <td align="center" class="text-center">
                                <a class="btn btn-success text-white" asp-action="Edit" asp-route-maDnms="@item.MaDnms" asp-route-maVpp="@item.MaVpp">Sửa</a>
                                <a class="btn btn-info text-white" asp-action="Details" asp-route-id="@item.MaDnms">Chi tiết</a>
                                <a class="btn btn-danger text-white" asp-action="Delete" asp-route-id="@item.MaDnms">Xoá</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    else
    {
        if (!string.IsNullOrEmpty(searchTerm))
        {
            <div>
                <a asp-action="Index" asp-route-idMaDnms="@TempData["idMaDnms"]" class="btn btn-secondary me-5 ml-2 float-start">Trở về danh sách</a>
            </div>

            <div style="text-align: center;"><p>Không tìm thấy kết quả phù hợp với từ khóa "@searchTerm".</p></div>
        }
        else
        {
            <div style="text-align: center;"><p>Hiện không có phiếu yêu cầu nào.</p></div>
        }
    }
</div>
